@media(max-width:980px){
    header{
        .barraDeTitulo{
            font-size: 17px;
            font-weight: 1000;
            height: 170px;
            .barraImg {
                img{
                width: 115%;
                height: 90%;
                } 
            }   
            .barraTexto{
                text-align: center;
                margin-left: 10px;
            }
        }
    }
}
@media(max-width:768px){
    header{
        .barraDeTitulo{
            font-size: 15px;
            font-weight: 1000;
            height: 170px;
            .barraImg {
                img{
                width: 115%;
                height: 90%;
                } 
            }   
            .barraTexto{
                text-align: center;
                margin-left: 10px;
            }
        }
    }
}
@media(max-width:425px){
    header{
    .redesGeneral{
        div{
            nav{
                .menu{
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    ul{
                        flex-direction: column;
                        align-items: center;
                        padding:0.5rem 0;
                        li{
                            a{
                                color:$color-principal;
                            }
                        }
                    }
                }
            }
        }
    nav .barraImgDos,  nav label{
        display: flex;
    }

    nav #toggle:checked ~ .menu{
        height: 100%;
    }
    .redesGeneral, .barraDeTitulo{
        display:none;
    }
    .navMargin{
        background-color: white;
        color: $color-principal;
    }
}
}}
@media(max-width:768px){
    header{
    .barraImg {
        img{
        width: 115%;
        height: 90%;
    }}   
    .barraDeTitulo{
        font-size: 15px;
        font-weight: 1000;
        height: 170px;
    }
    .barraTexto{
        text-align: center;
        margin-left: 10px;
    }
}
}
@media(max-width:426px){
    header{
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    nav .menu ul{
        flex-direction: column;
        align-items: center;
        padding:0.5rem 0;
    }
    .menu-ul li a{
        color:$color-principal;
    }

    nav .barraImgDos,  nav label{
        display: flex;
    }

    nav #toggle:checked ~ .menu{
        height: 100%;
    }

    .redesGeneral, .barraDeTitulo{
        display:none;
    }
    .navMargin{
        background-color: white;
        color:$color-principal;
    }
}
}