@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Krona+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$fonts-principal:"Krona One", sans-serif;
$color-principal:#211C6A;
$color-backg: hwb(0 18% 80% / 0.578);