.mainSomosToribianos1 { 
    text-align: justify;
    color:$color-principal;
    div{  
        img{
        width: 100%;
        height: 700px;
    }
    }
    section{
        text-align: justify;
        font-size: 20px;
        padding: 80px 150px 00px 150px;
        line-height: 2em;
    }
    .mainSomosToribianos{
        text-align: center;
        height: 600px;
        iframe{
            text-align: center;
            width: 70%;
            height: 100%;
        }
    }
    .mainSomosToribianos2{
        text-align: justify;
        font-size: 20px;
        padding: 0px 150px 80px 150px;
        line-height: 2em;
    }
}

